/////////////////////////////////////////////////////////////////
// Master color variable sheet for DCSD Transportation         //

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    font-family: "Montserrat", sans-serif !important;
}

$error: #CE3525;
$error-hover: #cf4635;
$lt-blue: #7db7cc;
$dk-blue: #19608f;
$finished: #39B54A;
$important: #FEBF31;
$grey1: #D1D3D4;
$grey2: #A7A9AC;
$grey3: #808080;
$grey4: #75797a;
$information: #00AEEF;
$information-hover: #02bfff;
$text: #414042;
$white: #EDEDED;
$light-background: #dfe3ea;
$shadow: #525151;
$hover-white: #e9cfcf;

* {
    font-family: Montserrat, sans-serif !important;
}
//$crazy-craig: hotpink;
