@import "global/Colors";
@import "global/globalMixins";

.app-card-container {
  //border: 2px solid red;
  @include borderRadius(5px);
  background: $light-background;
  filter: drop-shadow(7px 7px 5px #414245);
  padding: 10px;
  height: 260px;
  width: 410px; // if we want full width cards.. comment this out to span the whole div
  min-width: 400px;
  margin: 15px 15px;

  .move-right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -50px;

    .top-section {
      //border: 1px solid chocolate;
      width: 80%;

      .app-name {
        //border: 2px solid aquamarine;
        font-size: 1.2em;
        font-weight: 700;
      }

      .app-description {
        //border: 2px solid aquamarine;
        font-size: .8em;
      }
    }
  }

  .middle-section {
    //border: 2px solid cornflowerblue;
    display: flex;
    font-size: 1.4em;
    font-weight: 600;
    color: $shadow;
    position: relative;
    bottom: 35px;
    h6 {
      padding-top: 8px;
      padding-left: 10px;
      margin-left: 10px;
      font-size: .8em;
      font-weight: 400;
    }
  }
  .application-note {
    //border: 2px solid aquamarine;
    position: relative;
    bottom: 20px;
    color: $shadow;
    font-size: .9em;
    line-height: 20px;
  }
  .completed-by {
    //border: 2px solid cornflowerblue;
    margin-top: -10px;
    font-size: .8em;
  }
}
//////////////////////////////////////////////////////////////
// Start of the covering div that shows up on hover
.hover-container {
  //border: 4px solid red;
  opacity: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 411px;
  //height: 260px;
  height: 230px;
  background: #232323;
  position: relative;
  left: -10px;
  //bottom: 255px;
  bottom: 255px;
  transition: .5s ease-in-out;
  cursor: cell;
}
.hover-container:hover {
  ///////////////////////////////////////////////////////
  // comment this in to have a glitchy drag effect
  transform: translateY(70px);
  height: 140px;
  ///////////////////////////////////////////////////////
  opacity: 80%;
}
//////////////////////////////////////////////////////////////
// Hover enter button start
.hover-enter {
  border: 2px solid white;
  background: none;
  @include borderRadius(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  color: $information;
  transition: .3s ease-in-out;
}
.hover-enter:hover {
  background: $information;
    border: none;
    color: white;
    //transform: scale(1.04);
}
.up-arrow-container {
  //border: 2px solid red;
  display: flex;
  justify-content: center;
  //padding-top: 7px; // move the arrow down a little?
  .up-arrow {
    //border: 2px solid red;
    display: flex;
    justify-content: center;
  }
}
