@import "./global/Colors.scss";

// .bc-eCheckin-logo {
//   //border: 2px solid red;
// }
.bc-location {
  width: 50%;
  height: 40px;
  background: linear-gradient(90deg, $lt-blue, white);
  display: flex;
  align-items: center;
  padding: .6em 0 0 0;

  & h6 {
    color: $dk-blue;
    padding-left: 10px;
    font-weight: 500;
  }

}



.checking {
  border: 2px solid red;
}