@import "global/Colors";
@import "global/globalMixins";

.action-button-container {
  //border: 2px solid red;
  display: flex;
  width: 380px;
  margin: 20px 0 50px 0;

  .button-icon{
    //background: green;
    position: relative;
    right: 30px;
    display: flex;
    margin-top: 3px;
  }
}
.left-right-containers {
  //border: 2px solid red;
  display: flex;
  justify-content: space-between;

  .left-container {
    //border: 4px solid aqua;
    display: flex;
    flex-direction: column;
    height: 1100px;
    min-width: 700px;
    //margin: 0 0 0 20px;
    overflow: scroll; // when div is filled with content that exceeds its height, then make it scrollable
    overflow-x: hidden; // removes the horizontal scroll bar
    overflow-y: auto; // removes small grey line when overflow is not engaged
  }

  .right-container {
    //border: 4px solid lightcoral;
    min-width: 700px;
    max-width: 55%;

    .right-info {
      //border: 2px solid cornflowerblue;
      @include borderRadius(5px);
      padding: 30px 20px;
      background: $grey1;
      margin-bottom: 40px;
    }
    .right-app-container {
      //border: 2px solid red;
      padding: 46px 0;
      @include borderRadius(5px);
      display: flex;
      //flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      max-height: 870px;
      overflow: scroll; // when div is filled with content that exceeds its height, then make it scrollable
      overflow-x: hidden; // removes the horizontal scroll bar
      background: $grey1;
    }
  }
}

///////////////////////////////////////////////
@media only screen and (max-width: 1180px) {
  .left-right-containers {
    //border: 4px solid red;
    flex-wrap: wrap;
  }
  .right-container {
    width: 100%;
  }
}
