@import "./global/Colors.scss";

.input-container {
    //border: 2px solid red;
    display: flex;
    justify-content: space-between;
}
.e-sig-input {
    //border: 2px solid red;
    width: 30%;

    & input {
        width: 100%;
        border-radius: 5px;
        padding: .25rem;
    }
    .hidden-label {
        color: $grey2;
        font-weight: 400;
    }
}
.test {
    //border: 2px solid blue;
    display: flex;
    //justify-content: space-between;
    width: 100%;
}
