.gutter {
    //border: 2px solid red;
    max-width: 1400px;
    padding: 20px 9px;
    margin: 0 auto;
}

.translation-buttons-container {
    //border: 2px solid red;
    margin: 10px auto -50px;
    //width: 600px;
    width: 98%;
    display: flex;
    justify-content: flex-end;
}
