.gutter-guardian-dashboard {
    //border: 2px solid red;
    max-width: 1800px;
    padding: 20px 0px;
    margin: 0px auto;
}

.translation-buttons-container {
    //border: 2px solid red;
    margin: 10px auto -50px;
    //width: 600px;
    width: 98%;
    display: flex;
    justify-content: flex-end;
}
