@import "global/Colors";
@import "global/globalMixins";

.faded {
  opacity: 50%;
}
.center-container {
  // thi is used to center the photo and 'everything' else in the grey card background
  //border: 3px solid aqua;
  display: flex;
  margin-top: 7px;
  margin-right: 17px;
  width: 700px;
}

.cards {
  //border: 2px solid red;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  //margin-right: -10px;
  background: $grey4;
  @include borderRadius(5px);
  height: 150px;
  width: 540px;
  min-width: 500px;
  cursor: pointer;
  transition: .2s ease-in-out;

  &:hover {
    background: $information;
    opacity: .9;
    @include shadow();
  }


  .photo-container {
    //border: 4px solid red;
    display: flex;
    align-items: center;
    position: relative;
    left: 15px;
    //width: 200px;

    .student-image {
      border: 4px solid white;
      background: $grey2;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      z-index: 1;
      transition: .2s ease-in-out;

      &:hover {
        transform: scale(1.05);
        z-index: 100;
        border: 4px solid $information;
      }
    }
  }

  .info-container {
    //border: 2px solid blue;
    display: flex;
    //justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    width: 400px;

    .name-container {
      //border: 2px solid greenyellow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      width: 390px;
      color: white;
      h5 {
        font-weight: 400;
      }
      h6 {
        margin-top: 5px;
        letter-spacing: 2px;
      }
    }

    .boxes {
      //border: 2px solid red;
      display: flex;
      justify-content: space-between;
      height: 80px;
      width: 400px;
      padding-bottom: 10px;
      color: $grey3;
      font-size: 1.2em;
      font-weight: 600;
      position: relative;
      //left: -20px;

      #grade {
        //border: 2px solid aquamarine;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 18%;
        background: $grey1;
        #value {
          color: $grey3;
          font-size: .7em;
          font-weight: 400;
        }
      }
      #school {
        //border: 2px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 65%;
        background: $grey2;
        text-align: center;
        color: white;
        font-weight: 400;
        //#value {
        //  color: $grey3;
        //  font-size: .7em;
        //  font-weight: 400;
        //}
      }
      #absent {
        //border: 2px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 17%;
        background: $grey1;
        #value {
          color: $grey3;
          font-size: .7em;
          font-weight: 400;
        }
      }
    }
  }
}
