@import "../styles/global/Colors";
@import "../styles/global/globalMixins";

.translation-button {
  @include borderRadius(5px);
  //@include shadow();
  border: none;
  //background: $information;
  font-size: .9em;
  background: $white;
  color: $grey3;
  width: 100px;
  height: 25px;
  transition: 0.1s ease;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;

  &:hover {
    transform: scale(1.1);
    background: $grey1;
  }
  &:active {
    color: $grey1
  }
} // end of translation button

